<table id="table{{ species.id }}">
    <tr>
        <td colspan="100%" width="100px">
            <div onclick="update_species({{ species.id }}, {{ species.childs|length }})">
                {% include "species/species.html" with species=species %}
            </div>
        </td>
    </tr>
    <tr>
        {% for child in species.childs %}
            <td>
                {% include "species/species_with_childs.html" with species=child %}
            </td>
        {% endfor %}
    </tr>
</table>