{% load static %}
    <script src="{% static '/species/js/update_species.js' %}"></script>
    <script src="{% static '/species/js/search_species.js' %}"></script>

{% block title %}Species Tree{% endblock %}

{% block main %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" /> <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"> </script> <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
    <style>
        td{
            border: solid 1px black;
            text-align:center;
            vertical-align: top;
        }
    </style>
    {% if species %}
        <form>
            <div class="ui-widget">
                <input id="searching_species">
            </div>
        </form>
        <button onclick="search('table1', document.getElementById('searching_species').value)">Искать</button>
        <div>
            {% include "species/species_with_childs.html" with species=species %}
        </div>
{% else %}
    <p>No species in Data Base.</p>
{% endif %}
{% endblock %}