{% extends "base.html" %}

{% block init %}
    {% load static %}
        <link rel="stylesheet" href="{% static '/species/css/style.css' %}">
        <script src="{% static '/species/js/update_species.js' %}"></script>
        <script src="{% static '/species/js/search_species.js' %}"></script>
        <script src="{% static '/species/js/auto_complete.js' %}"></script>
    {{ block.super }}
{% endblock %}

{% block main %}
    {% if species %}
        {% include "species/species_with_childs.html" with species=species %}
    {% else %}
        <p>No species in Data Base.</p>
    {% endif %}
{% endblock %}