<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta
            name="viewport"
            content="width = device-width, initial-scale=1, shrink-to-fit=no"
    >
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
    >
    <title>
        {% block title %}Species Tree{% endblock %}
    </title>
    <style>
        .AnimalTreeDjango-masthead {
            background-color: #EEEEEE;
            margin-bottom: 1em;
        }
    </style>
</head>
<body>
    <div class="AnimalTreeDjango-masthead">
        <div class="container">
            <nav class="nav">
                <div class="navbar-brand">Species Tree</div>
                <a
                    class="nav-link"
                    href="{% url 'species:Tree' %}"
                >
                    Species Tree
                </a>
            </nav>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="animaltree-main">
                {% block main %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>